<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<link rel="stylesheet" href="webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="webjars/datetimepicker/2.4.7/jquery.datetimepicker.css">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        table, th, td {
            border: 1px solid #070707;
        }
    </style>
</head>
<body>
<h1>Edit appointment page</h1>
<form th:action="@{/admin/saved/{id}(id=${appointment.getId()})}" method="get">
    Enter new time (format hh:mm):  <label class="control-label col-sm-2" for="newTime"></label>
    <input class="form-control" id="newTime" type="text"
           name="newTime"/>
    <button type="submit"><span th:text="#{button.submit}"></span></button>
</form>
<form action="/admin/saved" th:method="post" th:object="${appointment}">
    <div class="container">

        <table style="width:50%">
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Date</th>
                <th>Treatment</th>
                <th>Specialist</th>
                <th>Client</th>
                <th>isDone</th>
                <th>idPaid</th>
            </tr>
            <tr>
                <td th:text="${appointment.getId()}" th:field="*{id}" id="id"></td>
                <td th:text="${appointment.getTimeslot()}" th:field="*{timeslot}" id="timeslot"></td>
                <td th:text="${appointment.getDate()}" th:field="*{date}"></td>
                <td th:text="${appointment.getTreatmentName()}" th:field="*{treatmentName}"></td>
                <td th:text="${appointment.getSpecialistName()}" th:field="*{specialistName}"></td>
                <td th:text="${appointment.getClientName()}" th:field="*{clientName}"></td>
                <td th:text="${appointment.getIsDone()}" th:field="*{isDone}"></td>
                <td th:text="${appointment.getIsPaid()}" th:field="*{isPaid}"></td>
                <td><a th:href="@{/admin/edit/payed/{id}(id=${appointment.getId()})}" th:text="Paid"></a> </td>
                <td><a th:href="@{/admin/saved/(id=${appointment.getId()})}"><span th:text="Change"></span></a></td>
            </tr>
        </table>
    </div>

</form>

<form action="/admin" method="get">
    <a href="/admin"><span th:text="#{button.back}"></span></a>
</form>

</body>
</html>