<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1><p> Thank you for your appointments!</p></h1>
<form action="/client" method="get">
    <table style="width:100%">
        <tr>
            <th>Time</th>
            <th>Date</th>
            <th>Specialist</th>
            <th>Service</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
        </tr>
    </table>
    <a href="/client"><span th:text="#{button.back}"></span></a>
</form>
</body>
</html>