<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1><p> <span th:text="#{message.booking}"></span></p></h1>
<form action="/client/booking/{treatmentName}" method='POST'>
    <span th:text="#{message.choose.date}"></span><input type="date" name="date" />
    <a href="/client/booking"><span th:text="#{button.submit}"></span></a>
</form>

<form th:action="@{/client/appointment/{time}}" method="post">
    <div class="container">

        <table style="width:50%">
            <tr>
                <th><span th:text="#{table.column.time}"></span></th>
                <th><span th:text="#{table.column.date}"></span></th>
                <th><span th:text="#{table.column.treatment}"></span></th>
                <th><span th:text="#{table.column.specialist}"></span></th>
                <th><span th:text="#{table.column.available}"></span></th>
                <th></th>
            </tr>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.getTimeslot()}"></td>
                <td th:text="${appointment.getDate()}"></td>
                <td th:text="${appointment.getTreatmentName()}"></td>
                <td th:text="${appointment.getSpecialistName()}"></td>
                <td th:text="${appointment.getAvailable()}"></td>
                <td><span th:if="${appointment.getAvailable() == true}"></span>
                    <span th:unless="${appointment.getAvailable() == false}">
                    <a th:href="@{/client/appointment/(time=${appointment.getTimeslot()}, date=${appointment.getDate()}, trName=${treatmentName})}"><span th:text="#{button.book}"></span></a></span></td></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>