<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<h1><p><span th:text="#{feedback.message}"></span></p></h1>
<form method="POST" action='/client/feedback'>
    <div class="container">
        <label><b>Specialist name</b></label>
        <select name="specialistName" id="specialistName">
            <option th:each="specialist : ${specialists}" th:value="${specialist.getUsername()}"
                    th:text="${specialist.getUsername()}">
            </option>
        </select>
        <br>
        <label><b>Rate </b></label>
        <select name="rate" id="rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <br>
        <label><b>Feedback:</b></label>
        <br>
        <textarea rows="5" cols="60" name="text">
         </textarea><br>
        <button type="submit">Send</button>
    </div>
</form>
</body>
</html>