<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<h1>Page for authorized Client</h1>
<h2><span th:text="#{message.menu}"></span></h2>
<form action="/client/booking" method="post">
    <a href="/client/booking"><span th:text="#{button.booking}"></span></a>
</form>
<form action="/client/feedback" method="post">
    <a href="/client/feedback"><span th:text="#{button.feedback}"></span></a>
</form>
<form action="/logout" method="get">
    <a href="/logout"><span th:text="#{button.logout}"></span></a>
</form>
</body>
</html>