<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<h1>Page for authorized Client</h1>
<h2>You could choose a treatment to make appointment:</span></h2>
<br>
<form action="/client/booking/manicure" method="get">
    <a th:href="@{/client/booking/{treatmentName}(treatmentName=manicure)}"><span th:text="#{button.manicure}"></span></a>
</form>
<form action="/client/booking/haircut" method="get">
    <a th:href="@{/client/booking/{treatmentName}(treatmentName=haircut)}"><span th:text="#{button.haircut}"></span></a>
 </form>
<form action="/client/booking/massage" method="get">
    <a th:href="@{/client/booking/{treatmentName}(treatmentName=massage)}"><span th:text="#{button.massage}"></span></a>
</form>
<h2>Or you can leave a feedback:</span></h2>
<form action="/client/feedback" method="post">
    <a href="/client/feedback"><span th:text="#{button.feedback}"></span></a>
</form>
<br>
<form action="/logout" method="get">
    <a href="/logout"><span th:text="#{button.logout}"></span></a>
</form>
</body>
</html>