<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body style="background-color: lavenderblush">
<h1><p style="color: deepskyblue"><span th:text="#{welcome.message}"></span></p></h1>

<a href="?lang=en" class="bp-icon bp-icon-next" th:data-info="#{lang.en}"><span><span
        th:text="#{lang.en}"></span></span></a>
<a href="?lang=ua" class="bp-icon bp-icon-drop" th:data-info="#{lang.ua}"><span><span
        th:text="#{lang.ua}"></span></span></a>
<form action="/login" method="get">
        <input type="submit" th:value="#{button.login}"/>

</form>
<form action="/register" method="get">
    <input type="submit" th:value="#{button.register}"/>
</form>

<h1><span th:text="#{message.guest}"></span></h1>
<div class="container">

    <table style="width:50%">
        <tr>
            <th><span th:text="#{table.column.treatment}"></span></th>
            <th><span th:text="#{table.column.specialist}"></span>
                <a th:href="@{/(page=${currentPage},sortField=specialistName,sortDir=ASC)}">&uarr;</a>
                <a th:href="@{/(page=${currentPage},sortField=specialistName,sortDir=DESC)}">&darr;</a>
            </th>
            <th><span th:text="#{table.column.rating}"></span>
                <a th:href="@{/(page=${currentPage},sortField=rate,sortDir=ASC)}">&uarr;</a>
                <a th:href="@{/(page=${currentPage},sortField=rate,sortDir=DESC)}">&darr;</a>
            </th>
            <th><span th:text="#{table.column.price}"></span></th>
        </tr>
        <tr th:each="object : ${page}">
            <td th:text="${object.getTreatmentName()}"></td>
            <td th:text="${object.getSpecialistName()}"></td>
            <td th:text="${object.getRate()}"></td>
            <td th:text="${object.getPrice()}"></td>
        </tr>
    </table>

    <div class="w-50 text-center">
        <span th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}">
            <span th:if="${page.getNumber() == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.getNumber() == i}">
                <a th:href="@{/(page=${i},sortField=${sortField},sortDir=${sortDir})}">[[${i}+1]]</a>
                </span>
        </span>
    </div>
    <h5><span th:text="#{guest.message}"></span></h5>
</div>
</body>
</html>