<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background-color: lavenderblush">
<h1><span th:text="#{register.form}"></span></h1>

<form action="/register" method="post">
    <div class="container">
        <label ><b><span th:text="#{user.login}"></span></b></label>
        <input type="text" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,19}$"
               th:placeholder="#{message.username}" name="username" required>
        <br>
        <span th:text="#{username.constraints}"></span>
        <br>

        <label ><b><span th:text="#{user.password}"></span> </b></label>
        <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
               th:placeholder="#{message.password}" name="password" required>
        <br>
        <span th:text="#{password.constraints}"></span>
        <br>

        <label ><b><span th:text="#{confirm.password}"></span></b></label>
        <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
               th:placeholder="#{confirm.password}" name="confirmedPassword" required>
        <br>

        <label ><b><span th:text="#{user.firstname}"></span></b></label>
        <input type="text" th:placeholder="#{message.first.name}" name="firstName" required>
        <br>

        <label ><b><span th:text="#{user.lastname}"></span></b></label>
        <input type="text" th:placeholder="#{message.last.name}" name="lastName" required>
        <br>

        <label ><b><span th:text="#{user.email}"></span></b></label>
        <input type="email" pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
               th:placeholder="#{message.email}" name="email" required>
        <br>

        <label ><b><span th:text="#{user.phone.number}"></span></b></label>
        <input type="text" pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"
               th:placeholder="#{message.phone.number}" name="phoneNumber" required>
        <br>

        <button type="submit"><span th:text="#{button.register}"></span></button>
    </div>

</form>
</body>
</html>